/* General Blueprint Style */
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
@font-face {
	font-family: 'bpicons';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/bpicons/bpicons.eot');
	src: url('../fonts/bpicons/bpicons.eot?#iefix') format('embedded-opentype'),
	url('../fonts/bpicons/bpicons.woff') format('woff'),
	url('../fonts/bpicons/bpicons.ttf') format('truetype'),
	url('../fonts/bpicons/bpicons.svg#bpicons') format('svg');
} /* Made with http://icomoon.io/ */

/* Resets */
*,
*:after,
*:before {
	box-sizing: border-box;
}

html {
	overflow-y: scroll; 
}

body,
html {
	font-size: 100%;
	margin: 0;
	padding: 0;
}

/* Helper classes */
.cf:before,
.cf:after {
	content: ' ';
	display: table;
}

.cf:after {
	clear: both;
}

.hidden {
	position: absolute;
	opacity: 0;
	pointer-events: none;
}

/* Main styles */
body {
	font-family: Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
	color: #CECECE;
	background: #d26a1f;/*58483d*/
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	color: #f0f0f0;
	outline: none;
}

a:hover {
	color: #5C5EDC;
}

/* Blueprint header */
.bp-header {
	width: 90%;
	max-width: 69em;
	margin: 0 auto;
	padding: 4em 1.875em 1.875em;
	text-align: center;
}

.bp-header h1 {
	font-size: 2.125em;
	font-weight: 400;
	line-height: 1.3;
	margin: 0 0 .6em 0;
}

.bp-header h1 > span {
	font-size: 50%;
	display: block;
	color: #4D4D5A;
} 

.bp-header > span {
	font-weight: 700;
	font-size: 0.85em;
	color: #75f19a;
	position: relative;
	z-index: 100;
	display: block;
	padding: 0 0 .6em .1em;
	letter-spacing: .5em;
	text-transform: uppercase;
	text-indent: 30px;
}

.bp-header > span span:after {
	font-size: 50%;
	font-size: 75%;
	position: relative;
	top: -8px;
	left: -12px;
	width: 30px;
	height: 30px;
}

.bp-header > span span:hover:before {
	content: attr(data-content);
	font-size: 110%;
	font-weight: 700;
	line-height: 1.2;
	position: absolute;
	left: auto;
	margin-left: 4px;
	padding: .8em 1em;
	text-align: left;
	text-indent: 0;
	letter-spacing: 0;
	text-transform: none;
	color: #fff;
	background: #5C5EDC;
}

.bp-header nav {
	text-align: center;
	margin: 0 auto;
}

.bp-header nav a {
	position: relative;
	display: inline-block;
	width: 2.5em;
	height: 2.5em;
	margin: 0 .1em;
	text-align: left;
	border-radius: 50%;
}

.bp-header nav a > span {
	display: none;
}

.bp-header nav a:hover:before {
	content: attr(data-info);
	color: #595A5F;
	font-weight: bold;
	font-size: 0.85em;
	position: absolute;
	top: 120%;
	right: 0;
	width: 600%;
	text-align: right;
	pointer-events: none;
}

.bp-header nav a:hover {
	background: #5C5EDC;
}

.bp-icon:after {
	font-family: 'bpicons';
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	text-align: center;
	text-transform: none;
	color: #5C5EDC;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

.bp-header nav .bp-icon:after {
	line-height: 2.4;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-indent: 0;
}

.bp-header nav a:hover:after {
	color: #fff;
}

.bp-icon-next:after {
	content: '\e000';
}

.bp-icon-drop:after {
	content: '\e001';
}

.bp-icon-archive:after {
	content: '\e002';
}

.bp-icon-about:after {
	content: '\e003';
}

.bp-icon-prev:after {
	content: '\e004';
}

@media screen and (max-width: 40em) {
	.bp-header h1 {
		font-size: 1.8em;
	}
}

@font-face {
    font-family: 'IcoMoon-Free';
    src: url('../fonts/mastericon/Font/IcoMoon-Free.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'IcoMoon-Free' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    
    /* Enable Ligatures ================ */
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-home:after {
    content: "\e900";
}
.icon-home2:after {
    content: "\e901";
}
.icon-home3:after {
    content: "\e902";
}
.icon-office:after {
    content: "\e903";
}
.icon-newspaper:after {
    content: "\e904";
}
.icon-pencil:after {
    content: "\e905";
}
.icon-pencil2:after {
    content: "\e906";
}
.icon-quill:after {
    content: "\e907";
}
.icon-pen:after {
    content: "\e908";
}
.icon-blog:after {
    content: "\e909";
}
.icon-eyedropper:after {
    content: "\e90a";
}
.icon-droplet:after {
    content: "\e90b";
}
.icon-paint-format:after {
    content: "\e90c";
}
.icon-image:after {
    content: "\e90d";
}
.icon-images:after {
    content: "\e90e";
}
.icon-camera:after {
    content: "\e90f";
}
.icon-headphones:after {
    content: "\e910";
}
.icon-music:after {
    content: "\e911";
}
.icon-play:after {
    content: "\e912";
}
.icon-film:after {
    content: "\e913";
}
.icon-video-camera:after {
    content: "\e914";
}
.icon-playcubedice:after {
    content: "\e915";
}
.icon-pacman:after {
    content: "\e916";
}
.icon-spades:after {
    content: "\e917";
}
.icon-clubs:after {
    content: "\e918";
}
.icon-diamonds:after {
    content: "\e919";
}
.icon-bullhorn:after {
    content: "\e91a";
}
.icon-connection:after {
    content: "\e91b";
}
.icon-podcast:after {
    content: "\e91c";
}
.icon-feed:after {
    content: "\e91d";
}
.icon-mic:after {
    content: "\e91e";
}
.icon-book:after {
    content: "\e91f";
}
.icon-books:after {
    content: "\e920";
}
.icon-library:after {
    content: "\e921";
}
.icon-file-text:after {
    content: "\e922";
}
.icon-profile:after {
    content: "\e923";
}
.icon-file-empty:after {
    content: "\e924";
}
.icon-files-empty:after {
    content: "\e925";
}
.icon-file-text2:after {
    content: "\e926";
}
.icon-file-picture:after {
    content: "\e927";
}
.icon-file-music:after {
    content: "\e928";
}
.icon-file-play:after {
    content: "\e929";
}
.icon-file-video:after {
    content: "\e92a";
}
.icon-file-zip:after {
    content: "\e92b";
}
.icon-copy:after {
    content: "\e92c";
}
.icon-paste:after {
    content: "\e92d";
}
.icon-stack:after {
    content: "\e92e";
}
.icon-folder:after {
    content: "\e92f";
}
.icon-folder-open:after {
    content: "\e930";
}
.icon-folder-plus:after {
    content: "\e931";
}
.icon-folder-minus:after {
    content: "\e932";
}
.icon-folder-download:after {
    content: "\e933";
}
.icon-folder-upload:after {
    content: "\e934";
}
.icon-price-tag:after {
    content: "\e935";
}
.icon-price-tags:after {
    content: "\e936";
}
.icon-barcode:after {
    content: "\e937";
}
.icon-qrcode:after {
    content: "\e938";
}
.icon-ticket:after {
    content: "\e939";
}
.icon-cart:after {
    content: "\e93a";
}
.icon-coin-dollar:after {
    content: "\e93b";
}
.icon-coin-euro:after {
    content: "\e93c";
}
.icon-coin-pound:after {
    content: "\e93d";
}
.icon-coin-yen:after {
    content: "\e93e";
}
.icon-credit-card:after {
    content: "\e93f";
}
.icon-calculator:after {
    content: "\e940";
}
.icon-lifebuoy:after {
    content: "\e941";
}
.icon-phone:after {
    content: "\e942";
}
.icon-phone-hang-up:after {
    content: "\e943";
}
.icon-address-book:after {
    content: "\e944";
}
.icon-envelop:after {
    content: "\e945";
}
.icon-pushpin:after {
    content: "\e946";
}
.icon-location:after {
    content: "\e947";
}
.icon-location2:after {
    content: "\e948";
}
.icon-compass:after {
    content: "\e949";
}
.icon-compass2:after {
    content: "\e94a";
}
.icon-map:after {
    content: "\e94b";
}
.icon-map2:after {
    content: "\e94c";
}
.icon-history:after {
    content: "\e94d";
}
.icon-clock:after {
    content: "\e94e";
}
.icon-clock2:after {
    content: "\e94f";
}
.icon-alarm:after {
    content: "\e950";
}
.icon-bell:after {
    content: "\e951";
}
.icon-stopwatch:after {
    content: "\e952";
}
.icon-calendar:after {
    content: "\e953";
}
.icon-printer:after {
    content: "\e954";
}
.icon-keyboard:after {
    content: "\e955";
}
.icon-display:after {
    content: "\e956";
}
.icon-laptop:after {
    content: "\e957";
}
.icon-mobile:after {
    content: "\e958";
}
.icon-mobile2:after {
    content: "\e959";
}
.icon-tablet:after {
    content: "\e95a";
}
.icon-tv:after {
    content: "\e95b";
}
.icon-drawer:after {
    content: "\e95c";
}
.icon-drawer2:after {
    content: "\e95d";
}
.icon-box-add:after {
    content: "\e95e";
}
.icon-box-remove:after {
    content: "\e95f";
}
.icon-download:after {
    content: "\e960";
}
.icon-upload:after {
    content: "\e961";
}
.icon-floppy-disk:after {
    content: "\e962";
}
.icon-drive:after {
    content: "\e963";
}
.icon-database:after {
    content: "\e964";
}
.icon-__undo__:after {
    content: "\e965";
}
.icon-redo:after {
    content: "\e966";
}
.icon-undo2:after {
    content: "\e967";
}
.icon-redo2:after {
    content: "\e968";
}
.icon-forward:after {
    content: "\e969";
}
.icon-reply:after {
    content: "\e96a";
}
.icon-bubble:after {
    content: "\e96b";
}
.icon-bubbles:after {
    content: "\e96c";
}
.icon-bubbles2:after {
    content: "\e96d";
}
.icon-bubble2:after {
    content: "\e96e";
}
.icon-bubbles3:after {
    content: "\e96f";
}
.icon-bubbles4:after {
    content: "\e970";
}
.icon-user:after {
    content: "\e971";
}
.icon-users:after {
    content: "\e972";
}
.icon-user-plus:after {
    content: "\e973";
}
.icon-user-minus:after {
    content: "\e974";
}
.icon-user-check:after {
    content: "\e975";
}
.icon-user-tie:after {
    content: "\e976";
}
.icon-quotes-left:after {
    content: "\e977";
}
.icon-quotes-right:after {
    content: "\e978";
}
.icon-hour-glass:after {
    content: "\e979";
}
.icon-spinner:after {
    content: "\e97a";
}
.icon-spinner2:after {
    content: "\e97b";
}
.icon-spinner3:after {
    content: "\e97c";
}
.icon-spinner4:after {
    content: "\e97d";
}
.icon-spinner5:after {
    content: "\e97e";
}
.icon-spinner6:after {
    content: "\e97f";
}
.icon-spinner7:after {
    content: "\e980";
}
.icon-spinner8:after {
    content: "\e981";
}
.icon-spinner9:after {
    content: "\e982";
}
.icon-spinner10:after {
    content: "\e983";
}
.icon-spinner11:after {
    content: "\e984";
}
.icon-binoculars:after {
    content: "\e985";
}
.icon-search:after {
    content: "\e986";
}
.icon-zoom-in:after {
    content: "\e987";
}
.icon-zoom-out:after {
    content: "\e988";
}
.icon-enlarge:after {
    content: "\e989";
}
.icon-shrink:after {
    content: "\e98a";
}
.icon-enlarge2:after {
    content: "\e98b";
}
.icon-shrink2:after {
    content: "\e98c";
}
.icon-key:after {
    content: "\e98d";
}
.icon-key2:after {
    content: "\e98e";
}
.icon-lock:after {
    content: "\e98f";
}
.icon-unlocked:after {
    content: "\e990";
}
.icon-wrench:after {
    content: "\e991";
}
.icon-equalizer:after {
    content: "\e992";
}
.icon-equalizer2:after {
    content: "\e993";
}
.icon-cog:after {
    content: "\e994";
}
.icon-cogs:after {
    content: "\e995";
}
.icon-hammer:after {
    content: "\e996";
}
.icon-magic-wand:after {
    content: "\e997";
}
.icon-aid-kit:after {
    content: "\e998";
}
.icon-bug:after {
    content: "\e999";
}
.icon-pie-chart:after {
    content: "\e99a";
}
.icon-stats-dots:after {
    content: "\e99b";
}
.icon-stats-bars:after {
    content: "\e99c";
}
.icon-stats-bars2:after {
    content: "\e99d";
}
.icon-trophy:after {
    content: "\e99e";
}
.icon-gift:after {
    content: "\e99f";
}
.icon-glass:after {
    content: "\e9a0";
}
.icon-glass2:after {
    content: "\e9a1";
}
.icon-mug:after {
    content: "\e9a2";
}
.icon-spoon-knife:after {
    content: "\e9a3";
}
.icon-leaf:after {
    content: "\e9a4";
}
.icon-rocket:after {
    content: "\e9a5";
}
.icon-meter:after {
    content: "\e9a6";
}
.icon-meter2:after {
    content: "\e9a7";
}
.icon-hammer2:after {
    content: "\e9a8";
}
.icon-fire:after {
    content: "\e9a9";
}
.icon-lab:after {
    content: "\e9aa";
}
.icon-magnet:after {
    content: "\e9ab";
}
.icon-bin:after {
    content: "\e9ac";
}
.icon-bin2:after {
    content: "\e9ad";
}
.icon-briefcase:after {
    content: "\e9ae";
}
.icon-airplane:after {
    content: "\e9af";
}
.icon-truck:after {
    content: "\e9b0";
}
.icon-road:after {
    content: "\e9b1";
}
.icon-accessibility:after {
    content: "\e9b2";
}
.icon-target:after {
    content: "\e9b3";
}
.icon-shield:after {
    content: "\e9b4";
}
.icon-power:after {
    content: "\e9b5";
}
.icon-switch:after {
    content: "\e9b6";
}
.icon-power-cord:after {
    content: "\e9b7";
}
.icon-clipboard:after {
    content: "\e9b8";
}
.icon-list-numbered:after {
    content: "\e9b9";
}
.icon-list:after {
    content: "\e9ba";
}
.icon-list2:after {
    content: "\e9bb";
}
.icon-tree:after {
    content: "\e9bc";
}
.icon-menu:after {
    content: "\e9bd";
}
.icon-menu2:after {
    content: "\e9be";
}
.icon-menu3:after {
    content: "\e9bf";
}
.icon-menu4:after {
    content: "\e9c0";
}
.icon-cloud:after {
    content: "\e9c1";
}
.icon-cloud-download:after {
    content: "\e9c2";
}
.icon-cloud-upload:after {
    content: "\e9c3";
}
.icon-cloud-check:after {
    content: "\e9c4";
}
.icon-download2:after {
    content: "\e9c5";
}
.icon-upload2:after {
    content: "\e9c6";
}
.icon-download3:after {
    content: "\e9c7";
}
.icon-upload3:after {
    content: "\e9c8";
}
.icon-sphere:after {
    content: "\e9c9";
}
.icon-earth:after {
    content: "\e9ca";
}
.icon-link:after {
    content: "\e9cb";
}
.icon-flag:after {
    content: "\e9cc";
}
.icon-attachment:after {
    content: "\e9cd";
}
.icon-eye:after {
    content: "\e9ce";
}
.icon-eye-plus:after {
    content: "\e9cf";
}
.icon-eye-minus:after {
    content: "\e9d0";
}
.icon-eye-blocked:after {
    content: "\e9d1";
}
.icon-bookmark:after {
    content: "\e9d2";
}
.icon-bookmarks:after {
    content: "\e9d3";
}
.icon-sun:after {
    content: "\e9d4";
}
.icon-contrast:after {
    content: "\e9d5";
}
.icon-brightness-contrast:after {
    content: "\e9d6";
}
.icon-star-empty:after {
    content: "\e9d7";
}
.icon-star-half:after {
    content: "\e9d8";
}
.icon-star-full:after {
    content: "\e9d9";
}
.icon-heart:after {
    content: "\e9da";
}
.icon-heart2:after {
    content: "\e9db";
}
.icon-man:after {
    content: "\e9dc";
}
.icon-woman:after {
    content: "\e9dd";
}
.icon-man-woman:after {
    content: "\e9de";
}
.icon-happy:after {
    content: "\e9df";
}
.icon-happy2:after {
    content: "\e9e0";
}
.icon-smile:after {
    content: "\e9e1";
}
.icon-smile2:after {
    content: "\e9e2";
}
.icon-tongue:after {
    content: "\e9e3";
}
.icon-tongue2:after {
    content: "\e9e4";
}
.icon-sad:after {
    content: "\e9e5";
}
.icon-sad2:after {
    content: "\e9e6";
}
.icon-wink:after {
    content: "\e9e7";
}
.icon-wink2:after {
    content: "\e9e8";
}
.icon-grin:after {
    content: "\e9e9";
}
.icon-grin2:after {
    content: "\e9ea";
}
.icon-cool:after {
    content: "\e9eb";
}
.icon-cool2:after {
    content: "\e9ec";
}
.icon-angry:after {
    content: "\e9ed";
}
.icon-angry2:after {
    content: "\e9ee";
}
.icon-evil:after {
    content: "\e9ef";
}
.icon-evil2:after {
    content: "\e9f0";
}
.icon-shocked:after {
    content: "\e9f1";
}
.icon-shocked2:after {
    content: "\e9f2";
}
.icon-baffled:after {
    content: "\e9f3";
}
.icon-baffled2:after {
    content: "\e9f4";
}
.icon-confused:after {
    content: "\e9f5";
}
.icon-confused2:after {
    content: "\e9f6";
}
.icon-neutral:after {
    content: "\e9f7";
}
.icon-neutral2:after {
    content: "\e9f8";
}
.icon-hipster:after {
    content: "\e9f9";
}
.icon-hipster2:after {
    content: "\e9fa";
}
.icon-wondering:after {
    content: "\e9fb";
}
.icon-wondering2:after {
    content: "\e9fc";
}
.icon-sleepy:after {
    content: "\e9fd";
}
.icon-sleepy2:after {
    content: "\e9fe";
}
.icon-frustrated:after {
    content: "\e9ff";
}
.icon-frustrated2:after {
    content: "\ea00";
}
.icon-crying:after {
    content: "\ea01";
}
.icon-crying2:after {
    content: "\ea02";
}
.icon-point-up:after {
    content: "\ea03";
}
.icon-point-right:after {
    content: "\ea04";
}
.icon-point-down:after {
    content: "\ea05";
}
.icon-point-left:after {
    content: "\ea06";
}
.icon-warning:after {
    content: "\ea07";
}
.icon-notification:after {
    content: "\ea08";
}
.icon-question:after {
    content: "\ea09";
}
.icon-plus:after {
    content: "\ea0a";
}
.icon-minus:after {
    content: "\ea0b";
}
.icon-info:after {
    content: "\ea0c";
}
.icon-cancel-circle:after {
    content: "\ea0d";
}
.icon-blocked:after {
    content: "\ea0e";
}
.icon-cross:after {
    content: "\ea0f";
}
.icon-checkmark:after {
    content: "\ea10";
}
.icon-checkmark2:after {
    content: "\ea11";
}
.icon-spell-check:after {
    content: "\ea12";
}
.icon-enter:after {
    content: "\ea13";
}
.icon-exit:after {
    content: "\ea14";
}
.icon-play2:after {
    content: "\ea15";
}
.icon-pause:after {
    content: "\ea16";
}
.icon-stop:after {
    content: "\ea17";
}
.icon-previous:after {
    content: "\ea18";
}
.icon-next:after {
    content: "\ea19";
}
.icon-backward:after {
    content: "\ea1a";
}
.icon-forward2:after {
    content: "\ea1b";
}
.icon-play3:after {
    content: "\ea1c";
}
.icon-pause2:after {
    content: "\ea1d";
}
.icon-stop2:after {
    content: "\ea1e";
}
.icon-backward2:after {
    content: "\ea1f";
}
.icon-forward3:after {
    content: "\ea20";
}
.icon-first:after {
    content: "\ea21";
}
.icon-last:after {
    content: "\ea22";
}
.icon-previous2:after {
    content: "\ea23";
}
.icon-next2:after {
    content: "\ea24";
}
.icon-eject:after {
    content: "\ea25";
}
.icon-volume-high:after {
    content: "\ea26";
}
.icon-volume-medium:after {
    content: "\ea27";
}
.icon-volume-low:after {
    content: "\ea28";
}
.icon-volume-mute:after {
    content: "\ea29";
}
.icon-volume-mute2:after {
    content: "\ea2a";
}
.icon-volume-increase:after {
    content: "\ea2b";
}
.icon-volume-decrease:after {
    content: "\ea2c";
}
.icon-loop:after {
    content: "\ea2d";
}
.icon-loop2:after {
    content: "\ea2e";
}
.icon-infinite:after {
    content: "\ea2f";
}
.icon-shuffle:after {
    content: "\ea30";
}
.icon-arrow-up-left:after {
    content: "\ea31";
}
.icon-arrow-up:after {
    content: "\ea32";
}
.icon-arrow-up-right:after {
    content: "\ea33";
}
.icon-arrow-right:after {
    content: "\ea34";
}
.icon-arrow-down-right:after {
    content: "\ea35";
}
.icon-arrow-down:after {
    content: "\ea36";
}
.icon-arrow-down-left:after {
    content: "\ea37";
}
.icon-arrow-left:after {
    content: "\ea38";
}
.icon-arrow-up-left2:after {
    content: "\ea39";
}
.icon-arrow-up2:after {
    content: "\ea3a";
}
.icon-arrow-up-right2:after {
    content: "\ea3b";
}
.icon-arrow-right2:after {
    content: "\ea3c";
}
.icon-arrow-down-right2:after {
    content: "\ea3d";
}
.icon-arrow-down2:after {
    content: "\ea3e";
}
.icon-arrow-down-left2:after {
    content: "\ea3f";
}
.icon-arrow-left2:after {
    content: "\ea40";
}
.icon-circle-up:after {
    content: "\ea41";
}
.icon-circle-right:after {
    content: "\ea42";
}
.icon-circle-down:after {
    content: "\ea43";
}
.icon-circle-left:after {
    content: "\ea44";
}
.icon-tab:after {
    content: "\ea45";
}
.icon-move-up:after {
    content: "\ea46";
}
.icon-move-down:after {
    content: "\ea47";
}
.icon-sort-alpha-asc:after {
    content: "\ea48";
}
.icon-sort-alpha-desc:after {
    content: "\ea49";
}
.icon-sort-numeric-asc:after {
    content: "\ea4a";
}
.icon-sort-numberic-desc:after {
    content: "\ea4b";
}
.icon-sort-amount-asc:after {
    content: "\ea4c";
}
.icon-sort-amount-desc:after {
    content: "\ea4d";
}
.icon-command:after {
    content: "\ea4e";
}
.icon-shift:after {
    content: "\ea4f";
}
.icon-ctrl:after {
    content: "\ea50";
}
.icon-opt:after {
    content: "\ea51";
}
.icon-checkbox-checked:after {
    content: "\ea52";
}
.icon-checkbox-unchecked:after {
    content: "\ea53";
}
.icon-radio-checked:after {
    content: "\ea54";
}
.icon-radio-checked2:after {
    content: "\ea55";
}
.icon-radio-unchecked:after {
    content: "\ea56";
}
.icon-crop:after {
    content: "\ea57";
}
.icon-make-group:after {
    content: "\ea58";
}
.icon-ungroup:after {
    content: "\ea59";
}
.icon-scissors:after {
    content: "\ea5a";
}
.icon-filter:after {
    content: "\ea5b";
}
.icon-font:after {
    content: "\ea5c";
}
.icon-ligature:after {
    content: "\ea5d";
}
.icon-ligature2:after {
    content: "\ea5e";
}
.icon-text-height:after {
    content: "\ea5f";
}
.icon-text-width:after {
    content: "\ea60";
}
.icon-font-size:after {
    content: "\ea61";
}
.icon-bold:after {
    content: "\ea62";
}
.icon-underline:after {
    content: "\ea63";
}
.icon-italic:after {
    content: "\ea64";
}
.icon-strikethrough:after {
    content: "\ea65";
}
.icon-omega:after {
    content: "\ea66";
}
.icon-sigma:after {
    content: "\ea67";
}
.icon-page-break:after {
    content: "\ea68";
}
.icon-superscript:after {
    content: "\ea69";
}
.icon-subscript:after {
    content: "\ea6a";
}
.icon-superscript2:after {
    content: "\ea6b";
}
.icon-subscript2:after {
    content: "\ea6c";
}
.icon-text-color:after {
    content: "\ea6d";
}
.icon-pagebreak:after {
    content: "\ea6e";
}
.icon-clear-formatting:after {
    content: "\ea6f";
}
.icon-table:after {
    content: "\ea70";
}
.icon-table2:after {
    content: "\ea71";
}
.icon-insert-template:after {
    content: "\ea72";
}
.icon-pilcrow:after {
    content: "\ea73";
}
.icon-ltr:after {
    content: "\ea74";
}
.icon-rtl:after {
    content: "\ea75";
}
.icon-section:after {
    content: "\ea76";
}
.icon-paragraph-left:after {
    content: "\ea77";
}
.icon-paragraph-center:after {
    content: "\ea78";
}
.icon-paragraph-right:after {
    content: "\ea79";
}
.icon-paragraph-justify:after {
    content: "\ea7a";
}
.icon-indent-increase:after {
    content: "\ea7b";
}
.icon-indent-decrease:after {
    content: "\ea7c";
}
.icon-share:after {
    content: "\ea7d";
}
.icon-new-tab:after {
    content: "\ea7e";
}
.icon-embed:after {
    content: "\ea7f";
}
.icon-embed2:after {
    content: "\ea80";
}
.icon-terminal:after {
    content: "\ea81";
}
.icon-share2:after {
    content: "\ea82";
}
.icon-mail:after {
    content: "\ea83";
}
.icon-mail2:after {
    content: "\ea84";
}
.icon-mail3:after {
    content: "\ea85";
}
.icon-mail4:after {
    content: "\ea86";
}
.icon-amazon:after {
    content: "\ea87";
}
.icon-google:after {
    content: "\ea88";
}
.icon-google2:after {
    content: "\ea89";
}
.icon-google3:after {
    content: "\ea8a";
}
.icon-google-plus:after {
    content: "\ea8b";
}
.icon-google-plus2:after {
    content: "\ea8c";
}
.icon-google-plus3:after {
    content: "\ea8d";
}
.icon-hangouts:after {
    content: "\ea8e";
}
.icon-google-drive:after {
    content: "\ea8f";
}
.icon-facebook:after {
    content: "\ea90";
}
.icon-facebook2:after {
    content: "\ea91";
}
.icon-instagram:after {
    content: "\ea92";
}
.icon-whatsapp:after {
    content: "\ea93";
}
.icon-spotify:after {
    content: "\ea94";
}
.icon-telegram:after {
    content: "\ea95";
}
.icon-twitter:after {
    content: "\ea96";
}
.icon-vine:after {
    content: "\ea97";
}
.icon-vk:after {
    content: "\ea98";
}
.icon-renren:after {
    content: "\ea99";
}
.icon-sina-weibo:after {
    content: "\ea9a";
}
.icon-rss:after {
    content: "\ea9b";
}
.icon-rss2:after {
    content: "\ea9c";
}
.icon-youtube:after {
    content: "\ea9d";
}
.icon-youtube2:after {
    content: "\ea9e";
}
.icon-twitch:after {
    content: "\ea9f";
}
.icon-vimeo:after {
    content: "\eaa0";
}
.icon-vimeo2:after {
    content: "\eaa1";
}
.icon-lanyrd:after {
    content: "\eaa2";
}
.icon-flickr:after {
    content: "\eaa3";
}
.icon-flickr2:after {
    content: "\eaa4";
}
.icon-flickr3:after {
    content: "\eaa5";
}
.icon-flickr4:after {
    content: "\eaa6";
}
.icon-dribbble:after {
    content: "\eaa7";
}
.icon-behance:after {
    content: "\eaa8";
}
.icon-behance2:after {
    content: "\eaa9";
}
.icon-deviantart:after {
    content: "\eaaa";
}
.icon-500px:after {
    content: "\eaab";
}
.icon-steam:after {
    content: "\eaac";
}
.icon-steam2:after {
    content: "\eaad";
}
.icon-dropbox:after {
    content: "\eaae";
}
.icon-onedrive:after {
    content: "\eaaf";
}
.icon-github:after {
    content: "\eab0";
}
.icon-npm:after {
    content: "\eab1";
}
.icon-basecamp:after {
    content: "\eab2";
}
.icon-trello:after {
    content: "\eab3";
}
.icon-wordpress:after {
    content: "\eab4";
}
.icon-joomla:after {
    content: "\eab5";
}
.icon-ello:after {
    content: "\eab6";
}
.icon-blogger:after {
    content: "\eab7";
}
.icon-blogger2:after {
    content: "\eab8";
}
.icon-tumblr:after {
    content: "\eab9";
}
.icon-tumblr2:after {
    content: "\eaba";
}
.icon-yahoo:after {
    content: "\eabb";
}
.icon-yahoo2:after {
    content: "\eabc";
}
.icon-tux:after {
    content: "\eabd";
}
.icon-appleinc:after {
    content: "\eabe";
}
.icon-finder:after {
    content: "\eabf";
}
.icon-android:after {
    content: "\eac0";
}
.icon-windows:after {
    content: "\eac1";
}
.icon-windows8:after {
    content: "\eac2";
}
.icon-soundcloud:after {
    content: "\eac3";
}
.icon-soundcloud2:after {
    content: "\eac4";
}
.icon-skype:after {
    content: "\eac5";
}
.icon-reddit:after {
    content: "\eac6";
}
.icon-hackernews:after {
    content: "\eac7";
}
.icon-wikipedia:after {
    content: "\eac8";
}
.icon-linkedin:after {
    content: "\eac9";
}
.icon-linkedin2:after {
    content: "\eaca";
}
.icon-lastfm:after {
    content: "\eacb";
}
.icon-lastfm2:after {
    content: "\eacc";
}
.icon-delicious:after {
    content: "\eacd";
}
.icon-stumbleupon:after {
    content: "\eace";
}
.icon-stumbleupon2:after {
    content: "\eacf";
}
.icon-stackoverflow:after {
    content: "\ead0";
}
.icon-pinterest:after {
    content: "\ead1";
}
.icon-pinterest2:after {
    content: "\ead2";
}
.icon-xing:after {
    content: "\ead3";
}
.icon-xing2:after {
    content: "\ead4";
}
.icon-flattr:after {
    content: "\ead5";
}
.icon-foursquare:after {
    content: "\ead6";
}
.icon-yelp:after {
    content: "\ead7";
}
.icon-paypal:after {
    content: "\ead8";
}
.icon-chrome:after {
    content: "\ead9";
}
.icon-firefox:after {
    content: "\eada";
}
.icon-IE:after {
    content: "\eadb";
}
.icon-edge:after {
    content: "\eadc";
}
.icon-safari:after {
    content: "\eadd";
}
.icon-opera:after {
    content: "\eade";
}
.icon-file-pdf:after {
    content: "\eadf";
}
.icon-file-openoffice:after {
    content: "\eae0";
}
.icon-file-word:after {
    content: "\eae1";
}
.icon-file-excel:after {
    content: "\eae2";
}
.icon-libreoffice:after {
    content: "\eae3";
}
.icon-html-five:after {
    content: "\eae4";
}
.icon-html-five2:after {
    content: "\eae5";
}
.icon-css3:after {
    content: "\eae6";
}
.icon-git:after {
    content: "\eae7";
}
.icon-codepen:after {
    content: "\eae8";
}
.icon-svg:after {
    content: "\eae9";
}
.icon-IcoMoon:after {
    content: "\eaea";
}
.icon-uni21:after {
    content: "\21";
}
.icon-uni22:after {
    content: "\22";
}
.icon-uni23:after {
    content: "\23";
}
.icon-uni24:after {
    content: "\24";
}
.icon-uni25:after {
    content: "\25";
}
.icon-uni26:after {
    content: "\26";
}
.icon-uni27:after {
    content: "\27";
}
.icon-uni28:after {
    content: "\28";
}
.icon-uni29:after {
    content: "\29";
}
.icon-uni2A:after {
    content: "\2a";
}
.icon-uni2B:after {
    content: "\2b";
}
.icon-uni2C:after {
    content: "\2c";
}
.icon-uni2D:after {
    content: "\2d";
}
.icon-uni2E:after {
    content: "\2e";
}
.icon-uni2F:after {
    content: "\2f";
}
.icon-uni30:after {
    content: "\30";
}
.icon-uni31:after {
    content: "\31";
}
.icon-uni32:after {
    content: "\32";
}
.icon-uni33:after {
    content: "\33";
}
.icon-uni34:after {
    content: "\34";
}
.icon-uni35:after {
    content: "\35";
}
.icon-uni36:after {
    content: "\36";
}
.icon-uni37:after {
    content: "\37";
}
.icon-uni38:after {
    content: "\38";
}
.icon-uni39:after {
    content: "\39";
}
.icon-uni3A:after {
    content: "\3a";
}
.icon-uni3B:after {
    content: "\3b";
}
.icon-uni3C:after {
    content: "\3c";
}
.icon-uni3D:after {
    content: "\3d";
}
.icon-uni3E:after {
    content: "\3e";
}
.icon-uni3F:after {
    content: "\3f";
}
.icon-uni40:after {
    content: "\40";
}
.icon-uni41:after {
    content: "\41";
}
.icon-uni42:after {
    content: "\42";
}
.icon-uni43:after {
    content: "\43";
}
.icon-uni44:after {
    content: "\44";
}
.icon-uni45:after {
    content: "\45";
}
.icon-uni46:after {
    content: "\46";
}
.icon-uni47:after {
    content: "\47";
}
.icon-uni48:after {
    content: "\48";
}
.icon-uni49:after {
    content: "\49";
}
.icon-uni4A:after {
    content: "\4a";
}
.icon-uni4B:after {
    content: "\4b";
}
.icon-uni4C:after {
    content: "\4c";
}
.icon-uni4D:after {
    content: "\4d";
}
.icon-uni4E:after {
    content: "\4e";
}
.icon-uni4F:after {
    content: "\4f";
}
.icon-uni50:after {
    content: "\50";
}
.icon-uni51:after {
    content: "\51";
}
.icon-uni52:after {
    content: "\52";
}
.icon-uni53:after {
    content: "\53";
}
.icon-uni54:after {
    content: "\54";
}
.icon-uni55:after {
    content: "\55";
}
.icon-uni56:after {
    content: "\56";
}
.icon-uni57:after {
    content: "\57";
}
.icon-uni58:after {
    content: "\58";
}
.icon-uni59:after {
    content: "\59";
}
.icon-uni5A:after {
    content: "\5a";
}
.icon-uni5B:after {
    content: "\5b";
}
.icon-uni5C:after {
    content: "\5c";
}
.icon-uni5D:after {
    content: "\5d";
}
.icon-uni5E:after {
    content: "\5e";
}
.icon-uni5F:after {
    content: "\5f";
}
.icon-uni60:after {
    content: "\60";
}
.icon-uni61:after {
    content: "\61";
}
.icon-uni62:after {
    content: "\62";
}
.icon-uni63:after {
    content: "\63";
}
.icon-uni64:after {
    content: "\64";
}
.icon-uni65:after {
    content: "\65";
}
.icon-uni66:after {
    content: "\66";
}
.icon-uni67:after {
    content: "\67";
}
.icon-uni68:after {
    content: "\68";
}
.icon-uni69:after {
    content: "\69";
}
.icon-uni6A:after {
    content: "\6a";
}
.icon-uni6B:after {
    content: "\6b";
}
.icon-uni6C:after {
    content: "\6c";
}
.icon-uni6D:after {
    content: "\6d";
}
.icon-uni6E:after {
    content: "\6e";
}
.icon-uni6F:after {
    content: "\6f";
}
.icon-uni70:after {
    content: "\70";
}
.icon-uni71:after {
    content: "\71";
}
.icon-uni72:after {
    content: "\72";
}
.icon-uni73:after {
    content: "\73";
}
.icon-uni74:after {
    content: "\74";
}
.icon-uni75:after {
    content: "\75";
}
.icon-uni76:after {
    content: "\76";
}
.icon-uni77:after {
    content: "\77";
}
.icon-uni78:after {
    content: "\78";
}
.icon-uni79:after {
    content: "\79";
}
.icon-uni7A:after {
    content: "\7a";
}
.icon-uni7B:after {
    content: "\7b";
}
.icon-uni7C:after {
    content: "\7c";
}
.icon-uni7D:after {
    content: "\7d";
}
.icon-uni7E:after {
    content: "\7e";
}
.icon-uniA9:after {
    content: "\a9";
}

/*---------------*/